[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/svg"]
	path = lib/svg
	url = https://github.com/evmgolf/svg
[submodule "lib/codec"]
	path = lib/codec
	url = https://github.com/evmgolf/codec
[submodule "lib/erc721metadata-json"]
	path = lib/erc721metadata-json
	url = https://github.com/erc721metadata-json
[submodule "lib/create2"]
	path = lib/create2
	url = https://github.com/evmgolf/create2
[submodule "lib/samples"]
	path = lib/samples
	url = https://github.com/evmgolf/samples
